---
layout: default
title: Abakus' statutter
---
<div class="header">
  <img src="/abakule.jpg" alt="Abakus Logo" /> Abakus' statutter<br/>
  <div class="subtitle">
    Vedtatt for første gang på ekstraordinær generalforsamling 29. januar 1980.<br/>
    Sist endret ved ordinær generalforsamling 25. februar 2022.<br/>
    Dokumentet kan lastes ned <a class="download" href="/abakus-statutter.pdf">her</a>.
    Øvrige vedtak kan leses <a href="https://abakus.no/pages/generelt/122-vedtak" target="_blank">her</a>.
  </div>
</div>
<div class="content-wrapper">
  {{ content }}
</div>
