---
layout: default
title: Statutter for Abakus' Fond
---
<div class="header">
  <img src="/abakule.jpg" alt="Abakus Logo" /> Statutter for Abakus' Fond<br/>
  <div class="subtitle">
    Stiftet på Abakus sin ekstraordinære generalforsamling 11. mars 2013 <br />
    Sist endret ved ordinær generalforsamling 4. mars 2016
  </div>

  <div class="subtitle">
    <a href="/">Abakus' statutter</a>
    <a class="selected" href="/fond">Fondets statutter</a>
  </div>
</div>
<div class="content-wrapper fond">
  {{ content }}
</div>
