<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://abakus.no/icon-512x512.png" sizes="512x512"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-512x512.png" sizes="512x512"/>
    <link rel="icon" href="https://abakus.no/icon-384x384.png" sizes="384x384"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-384x384.png" sizes="384x384"/>
    <link rel="icon" href="https://abakus.no/icon-256x256.png" sizes="256x256"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-256x256.png" sizes="256x256"/>
    <link rel="icon" href="https://abakus.no/icon-192x192.png" sizes="192x192"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-192x192.png" sizes="192x192"/>
    <link rel="icon" href="https://abakus.no/icon-96x96.png" sizes="96x96"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-96x96.png" sizes="96x96"/>
    <link rel="icon" href="https://abakus.no/icon-48x48.png" sizes="48x48"/>
    <link rel="apple-touch-icon" href="https://abakus.no/icon-48x48.png" sizes="48x48"/>

    <title>{{ page.title }}</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
